*.idea/
env
.ipynb_checkpoints
.pytest_cache
*cache*
*.egg-info

*/.coverage
*/.DS_Store

.devcontainer/
.scripts/
.vscode/

*/.token.json

/scripts

/build
/dist

*/_build
*/_markdown
*/visualizations

*.c
*.html
*.so
*.egg-info
data/example_dataset/metaclustering/*output*.csv
data/example_dataset/metaclustering/example_manually_adjust_metaclusters.ipynb
Pipfile
Pipfile.lock
.coverage
.python-version
.coverage.*
.DS_Store
coverage.lcov
data/*
.venv/