dist: xenial

git:
  depth: false

language: python

python:
  - 3.8

# Install the updated versions of importlib-metadata and setuptools, as Travis 3.8 environments
# contains a very old version of importlib-metadata which is incompatible for 3.8+
# We add python path to enable testing jupyter notebooks
install:
  - pip install -U importlib_metadata setuptools
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install -r requirements-test.txt
  - travis_retry export PYTHONPATH=$PWD

env:
  - MPLBACKEND=Agg

cache: pip

# # command to run tests
# script:
#   - python -m pip install --editable .
#   - python -m pytest --cov=ark --pycodestyle ark

jobs:
  include:
    - stage: test_pypi_deploy
      if: type = pull_request
      python: 3.8
      script:
        - "travis_wait 120 sleep 7200 &"
        - python setup.py bdist_wheel
        - ls dist
        - auditwheel repair dist/*.whl --plat manylinux1_x86_64
        - twine upload --repository testpypi dist/* -u "$TEST_PYPI_USERNAME" -p "$TEST_PYPI_PASSWORD"
    - stage: pypi_deploy
      python: 3.8
      deploy:
        provider: pypi
        user: $PYPI_USERNAME
        password: $PYPI_PASSWORD
        on:
          tags: false
    - stage: docker_deploy
      if: tag IS present
      python: 3.8
      script:
        - "travis_wait 120 sleep 7200 &"
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        # Tag the image with a version such as vX.Y.Z,
        - docker build -t "$TRAVIS_REPO_SLUG":"$TRAVIS_TAG" . 1> out.log
        - docker push --all-tags "$TRAVIS_REPO_SLUG"

after_failure:
  - cat out.log

after_success:
  - coveralls
