language: python

install:
  - pip install -r requirements.txt
  - pip install pytest==5.2.0 pytest-cov==2.5.1 pytest-pep8 coveralls
  - mkdir /opt/segmentation
  - cp setup.py /opt/segmentation/.
  - cp -r segmentation /opt/segmentation/segmentation


env:
  - MPLBACKEND=Agg

# command to run tests
script:
  - python -m pytest --cov=segmentation --pep8 segmentation

after_success:
  - coveralls
