if: (type = commit AND NOT branch =  master) OR (type = pull_request)

language: python

install:
  - pip install -r requirements.txt
  - pip install pytest==5.2.0 pytest-cov==2.5.1 pytest-pep8 coveralls
  - export PYTHONPATH=$PWD
  - echo $PYTHONPATH

env:
  - MPLBACKEND=Agg

# command to run tests
script:
  - python -m pytest --cov=ark --pep8 ark

after_success:
  - coveralls
