dist: xenial

git:
  depth: false

language: python

python:
  - 3.8

# Install the updated versions of importlib-metadata and setuptools, as Travis 3.8 environments
# contains a very old version of importlib-metadata which is incompatible for 3.8+
# We add python path to enable testing jupyter notebooks
install:
  - pip install -U importlib_metadata setuptools
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install -r requirements-test.txt
  - travis_retry export PYTHONPATH=$PWD
env:
  global:
    - MPLBACKEND=Agg
  jobs:
    - TESTMON_DATAFILE=$HOME/.cache/testmon/.testmondata DURATIONS_PATH=$HOME/.cache/split_durations/.test_durations

cache: 
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/huggingface/datasets/
    - $HOME/.cache/testmon/


jobs:
  include:
    - stage: branch_test
      if: NOT (branch = main)
    - script:
        - pip install --editable .
        - python -m pytest --testmon --pycodestyle

    - stage: merge_test
      if: branch = main
    - name: "Test Group 1"
      if: branch = main
    - script:
      - pip install --editable .
      - pytest --store-durations --durations-path DURATIONS_PATH
      - pytest --splits 3 --group 1 --cov=ark --pycodestyle
    - name: "Test Group 2"
      if: branch = main
    - script:
        - pip install --editable .
        - pytest --splits 3 --group 2 --cov=ark --pycodestyle
    - name: "Test Group 3"
      if: branch = main
    - script:
        - pytest --splits 3 --group 3 --cov=ark --pycodestyle


    - stage: test_pypi_deploy
      script:
        - "travis_wait 120 sleep 7200 &"
        - python setup.py bdist_wheel
        - sudo apt-get install patchelf
        - auditwheel-symbols --manylinux 2_24 dist/*.whl
        - auditwheel repair dist/*.whl --plat manylinux_2_17_x86_64
        - twine upload -r testpypi --skip-existing /home/travis/build/"$TRAVIS_REPO_SLUG"/wheelhouse/*.whl -u "$TEST_PYPI_USERNAME" -p "$TEST_PYPI_PASSWORD"

    - stage: pypi_deploy
      if: tag IS present
      script:
        - "travis_wait 120 sleep 7200 &"
        - python setup.py bdist_wheel
        - sudo apt-get install patchelf
        - auditwheel-symbols --manylinux 2_24 dist/*.whl
        - auditwheel repair dist/*.whl --plat manylinux_2_17_x86_64
        - twine upload --skip-existing /home/travis/build/"$TRAVIS_REPO_SLUG"/wheelhouse/*.whl -u "$PYPI_USERNAME" -p "$PYPI_PASSWORD"

    - stage: docker_deploy
      if: tag IS present
      script:
        - "travis_wait 120 sleep 7200 &"
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        # Tag the image with a version such as vX.Y.Z,
        - docker build -t "$TRAVIS_REPO_SLUG":"$TRAVIS_TAG" . 1> out.log
        - docker push --all-tags "$TRAVIS_REPO_SLUG"

after_failure:
  - cat out.log

after_success:
  - coveralls
