dist: xenial

git:
  depth: false

language: python

python:
  - 3.6

# We add python path to enable testing jupyter notebooks
install:
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install -r requirements-test.txt
  - travis_retry export PYTHONPATH=$PWD

env:
  - MPLBACKEND=Agg

cache: pip

# command to run tests
script:
  - python -m pytest --cov=ark --pycodestyle ark

jobs:
  include:
    - stage: pypi_deploy
      python: 3.6
      deploy:
        provider: pypi
        user: $PYPI_USERNAME
        password: $PYPI_PASSWORD
        on:
          tags: true
    - stage: docker_deploy
      if: branch = master
      python: 3.6
      script:
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin 
        - travis_wait 60 docker build -t "$TRAVIS_REPO_SLUG" . 1> /dev/null
        - docker tag "$TRAVIS_REPO_SLUG" "$TRAVIS_REPO_SLUG":latest
        - docker tag "$TRAVIS_REPO_SLUG" "$TRAVIS_REPO_SLUG":"${TRAVIS_TAG}"
        - docker push "$TRAVIS_REPO_SLUG"

after_success:
  - coveralls
