dist: xenial

git:
  depth: false

language: python

# We add python path to enable testing jupyter notebooks
install:
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install -r requirements-test.txt
  - travis_retry export PYTHONPATH=$PWD

env:
  - MPLBACKEND=Agg

cache: pip

# command to run tests
script:
  - python -m pytest --cov=ark --pycodestyle ark

jobs:
  include:
    - stage: deploy
      deploy:
        provider: pypi
        user: $PYPI_USERNAME
        password: $PYPI_PASSWORD
        on:
          tags: true

after_success:
  - coveralls
