commonmark==0.9.1
docutils==0.19
ipython==8.10.0
ipywidgets==7.7.2
m2r2==0.3.3
mistune==0.8.4
mock==4.0.3
nbsphinx==0.8.9
nbsphinx-link==1.3.0
recommonmark==0.7.1
sphinx==5.1.1
sphinx-rtd-theme==0.5.0
