name: Test

on:
  workflow_call:
    inputs:
      debug_enabled:
        type: boolean
        required: false
        default: false

permissions:
  contents: read # to fetch code (actions/checkout)
jobs:
  test:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      # Ensure that if any job fails, all jobs are cancelled.
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    env:
      GITHUB_WORKSPACE: ${{ github.workspace }}
      cache-name: dataset-cache

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download Example Dataset Cache
        uses: actions/cache/restore@v4
        with:
          path: ./data/cache/
          key: huggingface-${{ env.cache-name }}
          enableCrossOsArchive: true
          fail-on-cache-miss: true
      
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
            enable-cache: true
            cache-dependency-glob: "uv.lock"

      - name: Set up Python ${{ matrix.python-version }}
        run: |
          uv python install ${{ matrix.python-version }}
  
      - name: Install Dependencies and ${{ github.repository }}
        run: |
          uv sync --all-extras --dev

      - name: Run Tests
        run: |
          uv run pytest --cov-report=lcov:coverage-${{ join(matrix.*, '-') }}.lcov

      - name: Archive Coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ join(matrix.*, '-') }}
          path: |
            coverage-${{ join(matrix.*, '-') }}.lcov
